<!DOCTYPE html>
<html>

<head>
    <title>Home Valuator</title>

    <!-- Angular -->
    <script src="../bower_components/angular/angular.js"></script>

    <!-- Angular Material -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-material/angular-material.js"></script>

    <!-- Angular Resource -->
    <script src="../bower_components/angular-resource/angular-resource.js"></script>

    <!-- Angular Route -->
    <script src="../bower_components/angular-route/angular-route.js"></script>

    </head>
    <body>

        <div>
            Test message
        </div>
        
    </body>
</html>